<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body data-instant-intensity="viewport-all">
    <%= require('html-loader!./template/header.html').default %>
        <main>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-12">
                    <h1>Monte Carlo Tree Search - Connect 4</h1>
                </div>
            </div>

            <!-- Row with spinner and text "CPU is thinking.." -->
            <div class="row" id="cpu-thinking">
                <div class="col-12">
                    <div class="spinner-border spinner-border-sm" role="status">
                    </div>
                    <span id="cpu-thinking-text">CPU is thinking...</span>
                </div>
            </div>

            <!-- Row for game status text, will be filled if game is finished. -->
            <div class="row" id="game-status">
                <div class="col-12">
                    <span id="game-status-text"></span>
                </div>
            </div>

            <div class="col-6">
                <div id="game"></div>
            </div>
        </div>
    </main>
    <%= require('html-loader!./template/footer.html').default %>
</body>

</html>
